html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
}

nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav_elements {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    float: right;
    padding: 1em;
    margin: 1em 1em 1em 1em;
}
.nav_elements a {
    text-decoration: none;
    color: white;
    padding-right: 1em;
    padding-left: 1em;
}

#logo {
    height: 30px;
    padding: 1em;
    margin: 1em 1em 1em 1em;
    margin-top: 0.5em;
    float: left;
}

header {
    background-image: linear-gradient(black 30%, white 100%); 
    background-size: 100%;
    height: 600px;
}

.about_header {
    background-image: linear-gradient(black 30%, white 100%); 
    background-size: 100%;
    height: 300px;
}

.opening {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bolder;
    float: left;
    text-decoration: none;
}

.opening .semiheading {
    font-size: 18px;
    padding-left: 4em;
    margin: 1em 0em 1em 1em;
    margin-bottom: 0em;
}

.opening .greeting {
    color: #FFC0CB;
    font-size: 48px;
    padding-left: 88px;
    margin-top: 0em;
}

.chatbutton_box {
    padding-left: 70px;
    width: 170px;
    margin-right: 0px;
    float: left;
}

.chatbutton_box a {
    text-decoration: none;
}

.chatbutton {
    position: relative;
    border: 3px solid black;
    cursor: pointer;
    color: black;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    color: #FFC0CB;
    font-size: 20px;
    font-weight: lighter;
    border-radius: 8px;
    background: none;
    padding: 8px 24px;
    width: 100px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 15px;
}

.chatbutton:hover {
    box-shadow:  0 4px 10px rgba(0,0,0,0.35);
}

.about_text {
    color: rgb(90, 90, 90);
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    float: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
}

.about_text p {
    text-align: center;
    margin-left: 8em;
    margin-right: 8em;
}

p a {
    background-color: #FFC0CB;
    color: rgb(90, 90, 90);
}

.closing_text {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: white;
    padding-bottom: 1em;
}

.work_header {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1.5px 1.5px rgba(0,0,0,0.35);
}

.bottom_nav {
    background-image: linear-gradient(white 0%, black 50%); 
    height: 200px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* TODO: make height of navbar extend to screen size*/
}

.closing {
    color: #FFC0CB;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.contact_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.contact_icons .icon {
    color: #FFC0CB;
    height: 40px;
}

.experience_card {
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    float: center;
    width: 1080px;
}

.Workplace {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 35px;
    font-weight: bolder;
    width: 600px;
    margin-top: 1em;
    margin-left: 60px;
}

.Description {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    width: 480px;
    flex-direction: row;
    justify-content: space-between;
}

.Date {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    width: 480px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
}

.Position {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 480px;
    text-align: right;
    flex-direction: row;
    justify-content: space-between;
}

.Role {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    width: 480px;
    text-align: right;
    flex-direction: row;
    justify-content: space-between;
}

.work_images {
    width: 960px;
    float: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.work_images:hover {
    box-shadow:  0 4px 10px #FFC0CB;
}

.flex_work {
    display: flex;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#learn_more_txt {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 35px;
    font-weight: bolder;
    float: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
    text-align: center;
}

#resumebutton_box {
    text-decoration: none;
    width: 150px;
    margin: 0vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#resume_bttn {
    position: relative;
    text-decoration: none;
    border: 3px solid black;
    cursor: pointer;
    color: black;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    color: #FFC0CB;
    font-size: 20px;
    font-weight: lighter;
    border-radius: 8px;
    background: black;
    padding: 8px 24px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    float: center;
}

#resume_bttn:hover {
    box-shadow:  0 4px 10px rgba(0,0,0,0.35);
}

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
  }

